@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;
}
html, body{
    min-height: 100%;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.4em;
    font-family: var(--fonte2);
}
section > p{
    margin-bottom: 50px;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    height: 100vh;
}

section.imagem > p{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.295);
    height: 96vh;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
section#img1{
    background: url('../imagens/background001.jpg') center center fixed;
    background-size: cover;
}
section#img2{
    background: url('../imagens/background002.jpg') center center fixed;
    background-size: cover;

}