@charset 'utf-8';
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, rgb(50, 205, 128), rgb(177, 205, 50));
    /*background-color: rgb(26, 23, 23);*/
}
main{
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.699);
}
main > h1{
    text-align: center;
}
p{
    margin-top: 20px
}
.dados{
    margin-top: 5px;
    
    width: 250px;
    height: 45px;
}
#login{
    display: block;
    margin-top: 10px;
    width: 250px;
    height: 45px;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 15px;
    font-weight: bold;
    color: white;   
}
section.secundario{
    text-align: center  ;
    margin-top: 10px;
}
.secundario > a{
    text-decoration: none;
    font-weight: bold;
}
.secundario > a:hover{
    text-decoration: underline;
}